@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");
h1 {
    color: #025157;
}
h2{
    font-family: "Alegreya",serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}
b{
   color: #8b8b8bcc;
}
button{
    color: #fff;
    background-color: #025157;
}
body{
    background-color: #fffbf7;
}
input[type=password]{
    color:lightcoral;
    background-color:tomato;
}
.header {
    height: 45px;
    margin: 40px 20px 0 20px;
    font-size: 0;
    line-height: 45px
  }
  li{
      display: inline;
  }
  .header > *{
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
  }
  .logo{
      width: 15%;
  }
  .navbar{
      width: 70%;
      text-align: center;
      color: #025157;
      font-weight: 500;
      font-family: sans-serif;
  }
  #wordsbar{
    margin: 0 25px;
  }
  .actions{
      width: 15%;
      text-align: left;
      font-size: 14px;
      font-weight: 600;      
  }
  .action1{
      color:#67b54b;
      margin: 0 10 px;      
  }
  .action2{
    color: white;
    margin: 0 10 px;
    background-color: #67b54b;
    padding: 14px 12px;
    border-radius: 5px;
  }
  .Below{
      color: #343434;
  }
  .PreviousForm{
      color: #025157;
  }
  .Button1>*{
    display: inline-block;
  }
  .promo{
      display: flex;
      width: 70%;
      margin: 100px auto;
      align-items: center;
  }
  .media{
      display: flex;
      flex-direction: column;
  }
  .promo>*{
      margin: 0 10px;
  }
  .fixed-header{
      position: fixed;
      background-color:#fffbf7;
      top: 0;
      left: 0;
      right: 0;
  }
  main {
    margin-top: 285px;
    text-align: center;
  }
 .Section2_paragraph{
    color: #343434;
    font-size: 18px;
    margin: 15px 0 16px;
    font-family: "Open Sans", sans-serif;
 }
 button{
    background-color: #025157;
    color: #fff;
    border: none;
    font-family: "Open Sans", sans-serif;
}
.Text_Section2{
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 12px;
    font-family: "Slabo 27px", serif;
}
h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 20px;
    color: black;
    font-family: "Open Sans", sans-serif;
}
.Text_Section2_Description{
    color: #8b8b8bcc;
    font-family: "Open Sans", sans-serif;
    margin: 0 0 16px;
    font-size: 16px;
    display: inline;
}

.Button1_Section2{
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: 1em;
    display: block;
}
.Button2_Section2{
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}
.Brands{
    width: 500px;
    max-width: 100%;
}
.Success_Brand{
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
    border-style: none;
}
.Success_Carrousel{
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.Box1{
    display: flex;
    background-color: #a1d683;
    padding: 5%;
}
.Text_Success{
    padding: 20px;
}
.Box1>*{
    margin: 85px;
}
.ShopCart{
    width: 30px;
    max-width: 100%;
    padding: 0 15px 0 0;
    height: min-content;
}
.Box2{
    display: flex;
    align-items: center;
}
.LogoBack{
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 150px;
}
.Logos{
    max-width: 75%;
}